/*navbar styling starts*/

html{
	scroll-behavior: smooth;
}
.fixit{
	position: fixed;
	z-index:20;
	overflow: hidden;
  top: 0;
	width:100%;
}

.brandtext{
font-family: 'Staatliches', cursive;
font-family: 'ZCOOL XiaoWei', serif;
	font-size: 50px;
	letter-spacing: 2px;
	  text-shadow: 3px 3px white;
}
.menufont{
font-family: 'Montserrat', sans-serif;
font-size:15px;
letter-spacing: 2px;
color:black;
font-weight: bold;
}
.rsrvstyling{
	color:white;
	background-color: #011839;

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
.rsrvstyling{
	color:white;
	background-color: #011839;
	padding: 3px;
	display: block;
  }
}
/*navbar styling ends*/


/* carousel css starts*/
.heroOverlay {
  z-index: 12;
  position: absolute;
  top: 33%;
  left: 0px;
  right: 0px;
  margin: auto auto 0 10%;
  width: 80%;
  background: rgba(0,0,0,0.5);
  padding: 30px 0;
}

.heroOverlay h1 {
  font-size: 5.5vw;
}

.heroOverlay p {
  font-size: 3vw;
}

.heroOverlay a {
  font-size: 2vw;
  padding: .5vw 1vw;
}
/*carousel css ends*/

.btnstyling{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
}
.imgstg{
	max-width: 100%;
	max-height: 100%;
}

.c15{
	font-size: 38px;
	text-align: center;
	font-family: 'Liu Jian Mao Cao', cursive;
}
.c1{
	font-family: 'Dosis', sans-serif;
}

.ii{
	max-width: 100%;
	max-height: 100%;
}
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  max-height:30%;
}

.footertext{
	font-family: 'Cinzel Decorative', cursive;
	color:white;
	letter-spacing: 2px;
	background-color: #011839;
}

.footsett{
	background-color:  #011839;
}


.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
